{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src=/static/index1.js></script>
{% endblock %}
{% block heading %}
    Bağlantı ekranı
{% endblock %}
{% block body %}
  <form action="" id="tus" method="POST">
    <div class="form-group">
      <label for="Kanal_Adi">Kanaldaki Kullanacağınız adınız:</label>
      <input type="text" class="username" id="Kanal_Adi" placeholder="Kanaldaki adınız">
    </div>
    <div class="form-group">
      <label for="Kanal_No">Mesajınız:</label>
      <input type="text" class="message" id="Kanal_No" placeholder="Mesajınızı giriniz">
    </div>
    <div class="form-group">
      <label for="channel">Kanal Numarası:</label>
      <input type="text" class="message" id="channel" placeholder="Kanal numarası giriniz">
    </div>
    <input type="submit"/>
  </form>
  <ol id="ajaxx">
  </ol>
  <hr> 
  <ol id="messages">
  </ol>
{% endblock %}