{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src=/static/index.js></script>
{% endblock %}
{% block heading %}
    Bağlantı ekranı
{% endblock %}
{% block body %}
  <form id="form">
    <div class="form-group">
      <label for="Kanal_Adi">Kanaldaki Kullanacağınız adınız:</label>
      <input type="text" class="form-control" id="Kanal_Adi" placeholder="Kanaldaki adınız">
    </div>
    <div class="form-group">
      <label for="Kanal_No">Kanal Numarası</label>
      <input type="text" class="form-control" id="Kanal_No" placeholder="Kanal Numarasını giriniz">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <ul id="yazi">
  </ul>
  <hr>
{% endblock %}