<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <head>
        <title>Flack</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <div class="row justify-content-between">
            <a href="/" class="col-4">Mesajım.com (Anasayfa)</a><br>
            <div style="text-align: right;" class="col-4">
                <button type="button" id="cikis">Çıkış</button>
                <button type="button" id="giris">Giriş</button>
            </div>
        </div>
        <h1>{% block heading %}{% endblock %}</h1>
        
        {% block body %}
        {% endblock %}
    </body>
</html>